table {
    // border-collapse: collapse;
    margin: 50px;
}

th,
td {
    border: 2px solid rgb(27, 170, 2);
    padding: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: lightgoldenrodyellow;
    // border-radius: 50px;
}

.big__text {
    // max-width: 150px;
    min-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

section {
    border-radius: 50px;
}

thead tr th {
    background-color: blueviolet;
}

tbody tr:nth-child(odd) td {
    background-color: #fff;
}

tbody tr:nth-child(even) td {
    background-color: yellow;
}




.box2 {
    display: block;
    width: 200px;
    height: 400px;
    border: 2px solid black;
    background-image: url("./../images/chopar.jpg");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: center;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
    .box2 {
        background-image: url("./../images/chopar@2x.jpg");
    }

} 